/* Add CSS Styling */
.odd{
    background-color: hsl(0,70%,75%);
    font-family: Verdana,"DejaVu Sans",sans-serif;
}
#second{
    color: #0000ff;
    font-size: 36px;
}
.third{
    font-size: 24px;
}
#fourth{
    background-color: rgb(144, 238, 144);
    font-size: 24px;
    font-weight: bold;
}