body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 0.6em;
}

.title {
  background: #e3f4ff;
  padding: 0.6em;
  margin: 10px 0;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  margin: 10px 0;
  padding:10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding:10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding:10px 30px;
}